@page "/"


<PageTitle>Corgi</PageTitle>


@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
} *@

<selection class="main-container">
    <img src="images/background1.png" class="main-background-image1 parallax" speed="0.6"/>
    <img src="images/background2.png" class="main-background-image2 parallax" speed="0.7" />  
    <img src="images/background3.png" class="main-background-image3 parallax" speed="0.4"/>
    <img src="images/background4.png" class="main-background-image4 parallax" speed="0.3" />  
    
    <section class="main-content"> 
        <div class="main-search-box">
            <h1 class="main-title">POTRZEBUJESZ KOREPETYCJI?</h1>
            <div class="main-search">
                <label for="subject-search" class="visually-hidden">Wpisz nazwę przedmiotu</label>
                <input value="@_search" @onchange="@(e => {_search = e.Value?.ToString() ?? string.Empty; Search(); })" type="search" id="subject-search" class="search-input" placeholder="Wpisz nazwę przedmiotu" />
            </div>
            <a href="/AnnouncementList" class="search-accept-button">Szukaj</a>
        </div> 
    </section>

</selection>

<selection class="second-container">
    <img src="images/second-top-line.png" class="second-top-line" />
    <div class="second-content">
        <h1 class="second-title">CHCESZ SIĘ CZEGOŚ NAUCZYĆ?</h1>
        <h2 class="second-subtitle">ODWIEDŹ NASZĄ DARMOWĄ <button class="button" >BAZĘ ZADAŃ </button> I <button class="button"> MATERIAŁÓW DYDAKTYCZNYCH </button></h2>
    </div>
    <img src="images/second-bottom-line.png" class="second-bottom-line" />
</selection>

<div class="third-background"></div>
<selection class="third-container">
    <div class="third-content">
        <h1 class="third-title">DAJESZ KORKI?</h1>
        <h2 class="third-subtitle color-cod-gray"><button class="button">DOŁĄCZ DO NAS</button></h2>
    </div>
    <div class="help-content">
        <h3 class="help-title">POMOC</h3>
        <h3 class="help-info">123 123 123</h3>
        <h3 class="help-info">Corgi@gmail.com</h3>
    </div>
    <h3 class="copyright">©Corgi</h3>
</selection>

<AnnouncementList Search="_search"/>

@code{
    private string _search = "";

    //private List<User> _searchResults;
    // private async Task Search()
    // {
    //     if (!string.IsNullOrEmpty(_search))
    //     {
    //         _searchResults = await 
    //     }
    //     else
    //     {
    //         _searchResults.Clear();
    //     }
    // }
    private List<string> pseudo = new List<string> { "Marek", "Darek", "Browarek", "Mikołaj", "Adrian", "Hubert_niszczyciel" };
    private List<string> _searchResults;

    private void Search()
    {
        _searchResults.Clear();
        if (!string.IsNullOrEmpty(_search))
        {
            foreach (var word in pseudo)
            {
                if (IsMatch(word, _search))
                {
                    _searchResults.Add(word);
                }
            }
        }
    }

    private bool IsMatch(string word, string searchTerm)
    {
        int searchIndex = 0;

        for (int i = 0; i < word.Length; i++)
        {
            if (searchIndex < searchTerm.Length && word[i] == searchTerm[searchIndex])
            {
                searchIndex++;
            }

            if (searchIndex == searchTerm.Length)
            {
                return true;
            }
        }

        return false;
    }

}