@page "/ProfilePanel"


<PageTitle>Corgi</PageTitle>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nova+Mono&display=swap" rel="stylesheet">

@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
} *@

<selection class="main-container">
    @* <img src="images/background1.png" class="main-background-image1 parallax" speed="0.6"/>
    <img src="images/background2.png" class="main-background-image2 parallax" speed="0.7" />  
    <img src="images/background3.png" class="main-background-image3 parallax" speed="0.4"/>
    <img src="images/background4.png" class="main-background-image4 parallax" speed="0.3" />   *@
    
    <section class="main-content"> 
        <div class="main-profile-header">
            <h1 class="main-title">
                ZAPISZ SIĘ NA KOREPETYCJE
            </h1>
            <h1 class="main-description">
                Witam
                Jestem studentem Politechniki Wrocławskiej i udzielam korepetycje z matematyki na poziomie podstawówki jak i liceum. Maturę z matematyki zdałem bardzo wysoko, więc chętnie przygotuję do niej również ciebie.
                Mam już w tym 4 letnie doświadczenie w pracy z uczniami z podstawówki, którzy potrzebowali pomocy z ułamkami jak i z licealistami przygotowywującymi się do matury.
                Jeśli wiec szukasz kogoś z kim w miły i przyjemny sposób nadrobisz swoje zaległości albo przygotujesz się do matury to zapraszam do kontaktu.
                Całość prowadzę online, więc jestem dosyć elastyczny jeśli chodzi o terminy. Posiadam tablet graficzny i wszystko przebiega bardzo sprawnie
                W razie zainteresowania proszę pisać lub dzwonić
                Pozdrawiam
            </h1>            
        </div>
        <div class="main-user-info">
            <img src="images/user-image.png" class="info-image"/>
            <h1 class="info-name">Kajtuś</h1>
            <div class="info-rate">
                <div class="info-prize">
                    <span class="info-prize-number">70</span>
                    <span class="info-prize-currency">zł</span>
                </div>
                <h1 class="info-time">za 60 minut</h1>
            </div>
            <button class="info-button">ZAPISZ SIĘ</button>
            <div class="info-image-container">
                <img src="images/heart.png" class="info-heart-img"/>
                <h1 class="info-hearts">123</h1>
                <h1 class="info-hearts-description">PODZIĘKOWANIA</h1>
            </div>
            <div class="info-image-container">
                <img src="images/material.png" class="info-material-img"/>
                <h1 class="info-materials">16</h1>
                <h1 class="info-materials-description">LICZBA MATERIAŁÓW</h1>
            </div>
            <button class="info-button">MATERIAŁY</button>
            <div class="info-lesson-details">
                <div class="info-online">
                    <h1 class="info-online-question">LEKCJA ONLINE</h1>
                    <h1 class="info-online-answer">TAK</h1>
                </div>
                <div class="info-place">
                    <h1 class="info-place-question">MIEJSCE</h1>
                    <h1 class="info-place-answer">U KOREPETYTORA</h1>
                </div>
            </div>
        </div>
    </section>

</selection>

<selection class="second-container">
    <img src="images/second-top-line.png" class="second-top-line" />
    
    kalendarz

    <img src="images/second-bottom-line.png" class="second-bottom-line" />
</selection>

<div class="third-background"></div>
<selection class="third-container">
    <div class="third-content">
        <h1 class="third-title">DAJESZ KORKI?</h1>
        <h2 class="third-subtitle color-cod-gray"<button class="button">DOŁĄCZ DO NAS</button></h2>
    </div>
    <div class="help-content">
        <h3 class="help-title">POMOC</h3>
        <h3 class="help-info">123 123 123</h3>
        <h3 class="help-info">Corgi@gmail.com</h3>
    </div>
    <h3 class="copyright">©Corgi</h3>
</selection>

@code {
    
}