@page "/RegisterPanel"


<PageTitle>Corgi</PageTitle>

<selection class="main-container">
    <img src="images/background1.png" class="main-background-image1 parallax" speed="0.6"/>
    <img src="images/background2.png" class="main-background-image2 parallax" speed="0.7" />  
    <img src="images/background3.png" class="main-background-image3 parallax" speed="0.4"/>
    <img src="images/background4.png" class="main-background-image4 parallax" speed="0.3" />  
    <section class="main-content"> 

        <div class="main-register-panel">
        
            <h1 class="main-title">REJESTRACJA</h1>  
            <div class="main-register-cell">
                <label for="subject-search" class="visually-hidden">email</label>
                <input type="search" id="subject-search" class="main-search" placeholder="email" />
            </div>     
            <div class="main-register-cell">
                <label for="subject-search" class="visually-hidden">hasło</label>
                <input type="search" id="subject-search" class="main-search" placeholder="hasło" />
            </div>
            <div class="main-register-cell">
                <label for="subject-search" class="visually-hidden">imię</label>
                <input type="search" id="subject-search" class="main-search" placeholder="imię" />
            </div>
            <div class="main-register-cell">
                <label for="subject-search" class="visually-hidden">nazwisko</label>
                <input type="search" id="subject-search" class="main-search" placeholder="nazwisko" />
            </div>            
            <div class="main-register-cell">
                <label for="subject-search" class="visually-hidden">numer telefonu</label>
                <input type="search" id="subject-search" class="main-search" placeholder="numer telefonu" />
            </div> 
            <div class="main-status-choice">
                <input type="radio" id="student" name="toggle" class="toggle-input">
                <label for="student" class="choice-button">Uczeń</label>

                <input type="radio" id="teacher" name="toggle" class="toggle-input">
                <label for="teacher" class="choice-button">Nauczyciel</label>
            </div>

            <button class="register-button">Zarejestruj</button>

        </div>
    </section>
</selection>

<selection class="second-container">
    <img src="images/second-top-line.png" class="second-top-line" />
    <div class="second-content">
        <h1 class="second-title">CHCESZ SIĘ CZEGOŚ NAUCZYĆ?</h1>
        <h2 class="second-subtitle">ODWIEDŹ NASZĄ DARMOWĄ <button class="button" >BAZĘ ZADAŃ </button> I <button class="button"> MATERIAŁÓW DYDAKTYCZNYCH </button></h2>
    </div>
    <img src="images/second-bottom-line.png" class="second-bottom-line" />
</selection>

<div class="third-background"></div>
<selection class="third-container">
    <div class="third-content">
        <h1 class="third-title">DAJESZ KORKI?</h1>
        <h2 class="third-subtitle color-cod-gray"><button class="button">DOŁĄCZ DO NAS</button></h2>
    </div>
    <div class="help-content">
        <h3 class="help-title">POMOC</h3>
        <h3 class="help-info">123 123 123</h3>
        <h3 class="help-info">Corgi@gmail.com</h3>
    </div>
    <h3 class="copyright">©Corgi</h3>
</selection>
