<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Nova+Mono&display=swap" rel="stylesheet">

<nav class="top-navigation">
    <img src="images/nav_background.png" class="nav-background"/>
    <ul class="nav-content">
        <a href="/"><img href="/Home" src="images/logo.png" class="logo" /></a>
        <a href="/LoginPanel"><li class="nav-link">ZALOGUJ SIĘ</li></a>
        <a href="/RegisterPanel"><li class="nav-link">REJESTRACJA</li></a>
        <a href="/Materials"><li class="nav-link">MATERIAŁY</li></a>
    </ul>
</nav>



