<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Nova+Mono&display=swap" rel="stylesheet">

<selection class="second-container">
    <img src="images/second-top-line.png" class="second-top-line" />
    <div class="second-content">
        <h1 class="second-title">CHCESZ SIĘ CZEGOŚ NAUCZYĆ?</h1>
        <h2 class="second-subtitle">ODWIEDŹ NASZĄ DARMOWĄ <button class="button" >BAZĘ ZADAŃ </button> I <button class="button"> MATERIAŁÓW DYDAKTYCZNYCH </button></h2>
    </div>
    <img src="images/second-bottom-line.png" class="second-bottom-line" />
</selection>