
<div class="third-background"></div>
<selection class="third-container">
    <div class="third-content">
        <h1 class="third-title">DAJESZ KORKI?</h1>
        <h2 class="third-subtitle color-cod-gray"<button class="button">DOŁĄCZ DO NAS</button></h2>
    </div>
    <div class="help-content">
        <h3 class="help-title">POMOC</h3>
        <h3 class="help-info">123 123 123</h3>
        <h3 class="help-info">Corgi@gmail.com</h3>
    </div>
    <h3 class="copyright">©Corgi</h3>
</selection>